src/main/mule/parallelforeach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b917052c-f565-498b-b75d-197b9ffe4eb6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="parallelforeachFlow" doc:id="57365bc5-4abc-4cb3-be2b-b274660f34d1" >
		<http:listener doc:name="8081/pfe" doc:id="f50a04b7-cd5c-4cdd-b0c4-451431c8da57" config-ref="HTTP_Listener_config" path="/pfe">
			<http:error-response >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="912a2067-0119-4b5e-bb64-e28cd2d64ab3" message="pfe started"/>
		<set-payload value='#[[1,2,3,"a",4,5,6]]' doc:name="[1,2,3,4,5,6]" doc:id="67a43f50-d4b8-407b-b56f-a3f86be96537" />
		<set-variable value="#[payload]" doc:name="originalPayload" doc:id="d1089501-9c5e-4325-a2d0-a3c54b81bfad" variableName="originalPayload"/>
		<parallel-foreach doc:name="Parallel For Each" doc:id="bd805e4d-5e63-4c0d-ad51-a033f3fd34ad" >
			<logger level="INFO" doc:name="Logger" doc:id="ed85d3d6-cae2-4558-8e80-a9836d498699" message="#[payload]"/>
			<try doc:name="Try" doc:id="d94bb53f-fd82-4cc5-a7fd-aca7aabde355" >
				<ee:transform doc:name="Transform Message" doc:id="14059664-a5d5-472d-ac7f-fd9aa92be9ba">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload as Number * 10]]></ee:set-payload>
				</ee:message>
			</ee:transform>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9b74fc38-727a-4d44-8881-395bbbd1d020" >
						<ee:transform doc:name="Transform Message" doc:id="a0d5b76d-d956-4643-b018-ae673bc95f86" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"multiplication only done with numbers not with strings"]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</on-error-continue>
				</error-handler>
			</try>
			<logger level="INFO" doc:name="Logger" doc:id="ca603055-df8e-47ae-874e-5ad21da92f1f" message="#[payload]"/>
		</parallel-foreach>
		<ee:transform doc:name="Transform Message" doc:id="da64c734-d45b-4364-af50-b52489062be3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"originalPayload" : vars.originalPayload,
	"transformedPayload" : payload
	
	
}
//payload.payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2994b691-7d70-493b-b6ab-79ef86e3a447" message="#[payload]"/>
	</flow>
</mule>
